    <li>
    <div class="project">
        <div class="project__content flow">
        <div>
            <h3 class="project__heading">
            <a href="" data-variant="inline">Project Title</a>
            </h3>
            <p class="project__tags clr-dark">C++, Python</p>
        </div>
        <p class="project__excerpt">
            Donec maximus sed, donec elementum leo. leo. sit nisi id lacus,
            ullamcorper ipsum efficitur.
        </p>
        
        </div>
        <div class="project__image">
        <img src="https://placecats.com/g/600/600" alt="image" />
        </div>
    </div>
    </li>