<div id="container">
    <div id="navi">a</div>
    <div id="infoi">
        <embed src="/assets/projects/Kangaroo_Hopper/materials list.pdf" width="500" height="375" type="application/pdf">
    </div>
</div>