---
layout: 'base.njk'
---
<!--  this is the page for an individual project -->
<main class="wrapper">
  <h1>{{ title }}</h1>
  <div>
    <img src="{{ image }}" alt="{{ imageAlt }}" />
    
    {{ content | safe }}
  </div>
</main>
