---
title: Miles Modeste - About
layout: 'base.njk'
---

<main id="about-collection" class="wrapper">
  <hr />
  <div class="about">
    <div class="about__header wrapper" data-wrapper-type="inner">
      <h1>About Me</h1>
    </div>
    <div class="about__grid">
      <div><img src="https://placecats.com/g/600/600" alt="image" /></div>
      <div class="about__content flow">
        <div class="flow" style="--flow-space: 1rem">
          <p>
            Hey, I’m Miles. I am a programmer working on innovative projects in robotics, data analytics, and game development. With a background in computer science and design engineering, my greatest skill is integrating my creative talents into technical projects.

            I’m looking for opportunities to challenge myself in new and exciting ways to continue expanding and developing my skill set.

            I value ethical programming, and am committed to using my work for positive global change.

            Raised bilingual (English and German) I also speak Chinese and Japanese, and recently started learning Spanish.

            When I'm not coding, I like to play basketball at Brooklyn Bridge Park, and unsurprisingly, my favorite team is the Nets. As a classically trained cellist, I love listening to music; I like Classical, Rap, Jazz, as well as a variety of their subgenres.
          </p>
        </div>
        <div>
          <h2>Education</h2>
          <ul class="bio" role="list">
            <li>
              <div class="bio__label">BA in Computer Science, Minor in East Asian Studies <br> and Design & Engineering
              </div>
              <div class="bio__date">Wesleyan 2025</div>
            </li>
          </ul>
        </div>
        <div>
          <h2>Experience</h2>
          <ul class="bio" role="list">
            <li>
              <div class="bio__label">Soft-Sensor Robotics Lab Research Assistant</div>
              <div class="bio__date">Sep 2024 -- Aug 2025</div>
            </li>
            <li>
              <div class="bio__label">Architecture Studio Intern</div>
              <div class="bio__date">Jul 2022 -- Aug 2022</div>
            </li>
          </ul>
        </div>
        <div>
          <h2>Contact Me</h2>
            <p>
              milesmodeste@gmail.com <br>
              linkedin.com/li/milesmodeste
            </p>
        </div>
        <div>
          <a href="/assets/resume/MilesModeste_resume.pdf" download>
            Download My Resume (.pdf) 135KB
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>
    <hr />
  </div>
</main>
