---
title: Miles Modeste - About
layout: 'base.njk'
---

<main id="about-collection" class="wrapper">
  <hr />
  <div class="about">
    <div class="about__header wrapper" data-wrapper-type="inner">
      <h1>About Me</h1>
    </div>
    <div class="about__grid">
      <div><img src="https://placecats.com/g/600/600" alt="image" /></div>
      <div class="about__content flow">
        <p>
          Non amet pariatur aliqua nisi minim. Eu irure ea cupidatat pariatur
          elit officia nostrud elit sunt ex mollit do. Aute irure sit enim in
          cillum nulla laboris incididunt ipsum. Nostrud enim est excepteur
          reprehenderit magna ullamco Lorem sint esse aute exercitation tempor
          esse.
        </p>
        <h2>Education</h2>
        <ul class="bio" role="list">
          <li class="cluster">
            <div class="bio__label">BA in Molecular Biology</div>
            <div class="bio__date">2003</div>
          </li>
        </ul>
        <h2>Experience</h2>
        <ul class="bio" role="list">
          <li class="cluster">
            <div class="bio__label">Title</div>
            <div class="bio__date">2023</div>
          </li>
        </ul>
        <h2>Contact Me</h2>
        <p>
          email <br />
          linkedin.com/li
        </p>
      </div>
    </div>
    <hr />
  </div>
</main>
