---
title: Miles Modeste
layout: 'base.njk'
---

<main id="main-content" class="wrapper">
  <hr />
  <div class="hero flow">
    <h1 class="hero__heading wrapper" data-wrapper-type="inner">
      Brooklyn-based software developer.
    </h1>
    <div class="hero__links">
      <ul class="cluster">
        <li class="flex-grow"><a href="/about">More About Me</a></li>
        <li>
          <a href="https://github.com/MilesM326" target="_blank">GitHub /></a></li>
        <li>
          <a href="https://www.linkedin.com/in/milesmodeste" target="_blank">LinkedIn /></a>
        </li>
      </ul>
    </div>

    <hr />
    
    <div class="project-list flow">
      <div class="project-list__header wrapper" data-wrapper-type="inner">
        <h2>Highlights</h2>
      </div>

      <ol role="list">
        {%- for post in collections.post | reverse -%}
          <li>
            <div class="project">
              <div class="project__content flow">
                <div>
                  <h3 class="project__heading">
                    {{ post.data.title }}
                    {# <a href="{{ post.url }}" data-variant="inline"></a> #}
                  </h3>
                  <p class="project__tags clr-dark">{{ post.data.attributes }}</p>
                  <p class="project__tags clr-dark">{{ post.data.date | postDate }}</p>
                </div>
                <p class="project__excerpt">{{ post.data.excerpt }}</p>
              </div>
              <div class="project__image">
                <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" />
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ol>
    </div>

    <hr />
  </div>
</main>
